Repository alex-kim-dev/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, prettier --write

.lintstagedrc.yml:

'*.{j,t}s{,x}':
  - eslint --fix

'*.ts{,x}':
  - tsc-files --noEmit src/vite-env.d.ts

'!(*test).{j,t}s{,x}':
  - jest --findRelatedTests --passWithNoTests

'*.{json,yml,md}': prettier --write

chore: fix renovate grouping
  renovate.json
Due: prettier --write

chore: update some dependencies (minor)
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: add ci update group to renovate
  renovate.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@6c6bd549a5938356eb6a5f5bb29a92b0cb1d91c3 🚀
  assets/index.03261e77.js
  assets/index.03261e77.js.map
  assets/index.8a2de9b2.js
  assets/index.8a2de9b2.js.map
  index.html
Due: eslint --fix

ci: update node to 20 and some improvements
  .github/workflows/cd.yml
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@2d48c0bb6a1c6895ddd2b4b09dff7d800d1002da 🚀
  assets/index.8a2de9b2.js
  assets/index.8a2de9b2.js.map
  assets/index.91972737.js
  assets/index.91972737.js.map
  index.html
Due: eslint --fix

chore: add ignoring css prop to eslint
  .eslintrc.yml
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@81e66efee9161870007a1806d615aec071f71301 🚀
  assets/index.75c33023.js
  assets/index.75c33023.js.map
  assets/index.91972737.js.map
  index.html
Due: eslint --fix

Deploying to gh-pages from @ alex-kim-dev/todo-app@4be4fd4d33fcd7365d8da1bb94f6344c613afb40 🚀
  assets/index.75c33023.js
  assets/index.75c33023.js.map
  assets/index.d24d5b81.js
  assets/index.d24d5b81.js.map
  index.html
Due: eslint --fix

chore: update renovate pr limits
  renovate.json
Due: prettier --write

ci: ignore renovate.json changes
  .github/workflows/cd.yml
Due: prettier --write

chore: add vite package group to renovate
  renovate.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@eb31609ea9016f9554302704f8b01c27a1f818ae 🚀
  assets/index-NT1RpJ8C.js
  assets/index-NT1RpJ8C.js.map
  assets/index.d24d5b81.js
  assets/index.d24d5b81.js.map
  index.html
Due: eslint --fix

chore: migrate to husky v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

chore: resolve dependencies
  package-lock.json
  package.json
Due: prettier --write

style: fix formatting
  src/GlobalCss.tsx
  src/GlobalState.tsx
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts

Deploying to gh-pages from @ alex-kim-dev/todo-app@c554efb4b9deb275215bee16b897cf6a6d06360a 🚀
  assets/index-NT1RpJ8C.js.map
Due: none

chore: pin dependencies
  .npmrc
  package.json
Due: prettier --write

chore: migrate to testing library v6
  src/__tests__/main.test.tsx
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts

chore: update development setup
  .babelrc
  .editorconfig
  .eslintrc.yml
  .github/workflows/cd.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .npmrc
  .prettierignore
  .prettierrc.yml
  README.md
  eslint.config.js
  index.html
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.js
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, prettier --write

refactor: update codebase, prod dependencies, remove dnd
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/GlobalCss.tsx
  src/GlobalState.tsx
  src/__tests__/main.test.tsx
  src/__tests__/setup.ts
  src/__tests__/utils.tsx
  src/actions.ts
  src/components/Checkmark.tsx
  src/components/Content.tsx
  src/components/Filter.tsx
  src/components/Header.tsx
  src/components/NewTodoForm.tsx
  src/components/SortableTodoItem.tsx
  src/components/Surface.tsx
  src/components/TodoItem.tsx
  src/components/TodoList.tsx
  src/components/index.ts
  src/global.d.ts
  src/index.html
  src/main.tsx
  src/theme.ts
  src/types.ts
  src/vite-env.d.ts
  tsconfig.app.json
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, prettier --write

refactor: move from string to object styles
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/GlobalCss.tsx
  src/components/Checkmark.tsx
  src/components/Content.tsx
  src/components/Filter.tsx
  src/components/Header.tsx
  src/components/NewTodoForm.tsx
  src/components/Surface.tsx
  src/components/TodoItem.tsx
  src/components/TodoList.tsx
  src/theme.ts
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, prettier --write

refactor: simplify checkmark component
  src/components/Checkmark.tsx
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts

ci: fix deploy directory
  .github/workflows/cd.yml
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@273b4597e9b06f9a8ff1ed437bfaaf99cd46d8ca 🚀
  assets/index-CHggSGn3.js
  assets/index-NT1RpJ8C.js
  assets/index-NT1RpJ8C.js.map
  index.html
Due: eslint --fix
