Repository alex-kim-dev/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write

.lintstagedrc.yml:

'*.{j,t}s':
  - eslint --fix

'*.ts':
  - tsc-files --noEmit

'!(*test).{j,t}s':
  - jest --findRelatedTests

'*.{json,yml,md}': prettier --write

chore: set up testing
  .babelrc
  .eslintrc.yml
  .lintstagedrc.yml
  jest.config.js
  package-lock.json
  package.json
  src/App.test.tsx
Due: eslint --fix, prettier --write

chore: set up emotion
  .babelrc
  package-lock.json
  package.json
  src/App.tsx
  src/index.html
  tsconfig.json
  vite.config.js
Due: eslint --fix, prettier --write

ci: add a workflow to lint, test, deploy the app
  .github/workflows/cd.yml
Due: prettier --write

ci: fix deploy
  .github/workflows/cd.yml
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@6fa3ad55825f6b69458bc31825ed1fa3e7f90455 🚀
  assets/index.aaf9e68f.js
  assets/index.aaf9e68f.js.map
  assets/vendor.b89cef6c.js
  assets/vendor.b89cef6c.js.map
  index.html
Due: eslint --fix

feat: add theming capability
  src/theme.ts
  src/vite-env.d.ts
Due: eslint --fix, tsc-files --noEmit

feat: add global styles
  .eslintrc.yml
  src/App.tsx
  src/GlobalCss.tsx
  src/index.html
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@d30af4915a04a82d772102c2b4cd77bb6f0bf351 🚀
  assets/index.aaf9e68f.js
  assets/index.aaf9e68f.js.map
  assets/index.edf4740b.js
  assets/index.edf4740b.js.map
  assets/vendor.0b18e774.js
  assets/vendor.0b18e774.js.map
  assets/vendor.b89cef6c.js
  assets/vendor.b89cef6c.js.map
  index.html
Due: eslint --fix

fix: move images to public
  public/bg-desktop-dark.jpg
  public/bg-desktop-light.jpg
  public/bg-mobile-dark.jpg
  public/bg-mobile-light.jpg
  public/favicon-32x32.png
  public/icon-check.svg
  public/icon-cross.svg
  public/icon-moon.svg
  public/icon-sun.svg
  src/App.tsx
  src/index.html
  vite.config.js
Due: eslint --fix

feat: add global state with theme switching
  .eslintrc.yml
  package-lock.json
  package.json
  src/App.tsx
  src/GlobalCss.tsx
  src/GlobalState.tsx
  src/actions.ts
  src/main.tsx
  src/theme.ts
  src/vite-env.d.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: add header
  src/App.tsx
  src/components/Header.tsx
  src/theme.ts
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@6918ccc44e8a64840d5de7751ecf0a5077ef77c7 🚀
  assets/index.666abf7f.js
  assets/index.666abf7f.js.map
  assets/index.edf4740b.js
  assets/index.edf4740b.js.map
  assets/vendor.0b18e774.js
  assets/vendor.0b18e774.js.map
  assets/vendor.e6abff84.js
  assets/vendor.e6abff84.js.map
  bg-desktop-dark.jpg
  bg-desktop-light.jpg
  bg-mobile-dark.jpg
  bg-mobile-light.jpg
  favicon-32x32.png
  icon-check.svg
  icon-cross.svg
  icon-moon.svg
  icon-sun.svg
  index.html
Due: eslint --fix

fix: wrong public images urls
  src/App.tsx
  src/components/Header.tsx
Due: none

Deploying to gh-pages from @ alex-kim-dev/todo-app@de90acd580536af2e9927c60d8b816069bd67d1d 🚀
  assets/index.543b1d67.js
  assets/index.543b1d67.js.map
  assets/index.666abf7f.js.map
  index.html
Due: eslint --fix

feat: add checkmark component
  src/components/Checkmark.tsx
Due: none

chore: add missing tsx/jsx files to lint staged
  .lintstagedrc.yml
Due: prettier --write

chore: fix tsc-files ignoring custom types
  .lintstagedrc.yml
Due: prettier --write

feat: add todo list view
  package-lock.json
  package.json
  src/App.tsx
  src/GlobalCss.tsx
  src/GlobalState.tsx
  src/components/Content.tsx
  src/components/Surface.tsx
  src/components/TodoList.tsx
  src/theme.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: add ability to delete & mark todo completion
  src/GlobalState.tsx
  src/actions.ts
  src/components/TodoList.tsx
  src/types.ts
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@a89ef607dd80f84097f43094d29ee6efe9d25af2 🚀
  assets/index.543b1d67.js
  assets/index.543b1d67.js.map
  assets/index.ad1cb7cf.js
  assets/index.ad1cb7cf.js.map
  assets/vendor.8202d757.js
  assets/vendor.8202d757.js.map
  assets/vendor.e6abff84.js.map
  index.html
Due: eslint --fix

fix: make completed todos text more contrasting
  src/components/TodoList.tsx
  src/theme.ts
Due: eslint --fix, tsc-files --noEmit

perf: preload header background images
  src/index.html
Due: none

feat: add todo list info & clearing completed
  src/App.tsx
  src/GlobalState.tsx
  src/actions.ts
  src/components/Content.tsx
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@b51d7c0aa66a7c8c3920427620e99485eb2c8d2a 🚀
  assets/index.ad1cb7cf.js
  assets/index.ad1cb7cf.js.map
  assets/index.dd1b31ce.js
  assets/index.dd1b31ce.js.map
  assets/vendor.8202d757.js.map
  assets/vendor.af99ea86.js
  assets/vendor.af99ea86.js.map
  index.html
Due: eslint --fix

feat: add new todo form
  src/App.tsx
  src/GlobalState.tsx
  src/actions.ts
  src/components/Content.tsx
  src/components/NewTodoForm.tsx
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@06cb6e4f8f4f1481be81abe9678326fdd16293f5 🚀
  assets/index.7661100d.js
  assets/index.7661100d.js.map
  assets/index.dd1b31ce.js
  assets/index.dd1b31ce.js.map
  index.html
Due: eslint --fix

fix: adding empty todos
  src/components/NewTodoForm.tsx
Due: none

fix: hidden cross of delete button on focus
  src/components/TodoList.tsx
Due: none

feat: add todo filtering
  src/GlobalState.tsx
  src/actions.ts
  src/components/Content.tsx
  src/components/Filter.tsx
  src/components/TodoList.tsx
  src/types.ts
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@11e02b5625c7bc0307ea499b2413f26006d773bf 🚀
  assets/index.7661100d.js
  assets/index.7661100d.js.map
  assets/index.da1ff045.js
  assets/index.da1ff045.js.map
  assets/vendor.3276dfbe.js
  assets/vendor.3276dfbe.js.map
  assets/vendor.af99ea86.js.map
  index.html
Due: eslint --fix

feat: add saving state on client
  .eslintrc.yml
  jest.config.js
  jest.setup.js
  src/GlobalState.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@9b1d296dc25385ee7400384d17a701bf08c7fa00 🚀
  assets/index.50540ee8.js
  assets/index.50540ee8.js.map
  assets/index.da1ff045.js
  assets/index.da1ff045.js.map
  index.html
Due: eslint --fix

chore: clean up
  src/GlobalState.tsx
  src/actions.ts
  src/components/Content.tsx
  src/components/Header.tsx
  src/components/NewTodoForm.tsx
  src/theme.ts
  src/types.ts
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@5c1614e3f00ec5c55bbb9ba4f9c6080d6a7d3c9d 🚀
  assets/index.0fdee88d.js
  assets/index.0fdee88d.js.map
  assets/index.50540ee8.js
  assets/index.50540ee8.js.map
  index.html
Due: eslint --fix

test: add tests
  .eslintrc.yml
  .gitignore
  src/App.test.tsx
  src/GlobalState.tsx
  src/__tests__/main.test.tsx
  src/components/Content.tsx
  src/components/NewTodoForm.tsx
  src/components/TodoList.tsx
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@6b75009e73589590068590817486053b66c19c36 🚀
  assets/index.0fdee88d.js.map
  assets/index.5b169b46.js
  assets/index.5b169b46.js.map
  index.html
Due: eslint --fix

docs: add readme
  README.md
Due: prettier --write

1.0.0
  package-lock.json
  package.json
Due: prettier --write

ci: add pull request event
  .github/workflows/cd.yml
Due: prettier --write
