Repository alex-kim-dev/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@6c1fbe90fc0a05a36de34e633000844be81222f1 🚀
  assets/index.5b169b46.js.map
  assets/index.dec2ea97.js
  assets/index.dec2ea97.js.map
  assets/vendor.111d186c.js
  assets/vendor.111d186c.js.map
  assets/vendor.3276dfbe.js
  assets/vendor.3276dfbe.js.map
  index.html
Due: eslint --fix

Deploying to gh-pages from @ alex-kim-dev/todo-app@30f6254b74d86eb3212eefa566e6aef7a3dcfb0f 🚀
  assets/index.83a22157.js
  assets/index.83a22157.js.map
  assets/index.dec2ea97.js
  assets/index.dec2ea97.js.map
  assets/vendor.111d186c.js
  assets/vendor.111d186c.js.map
  assets/vendor.e33d77ab.js
  assets/vendor.e33d77ab.js.map
  index.html
Due: eslint --fix

feat: add drag & drop mechanics to the todo items
  .eslintrc.yml
  package-lock.json
  package.json
  src/__tests__/main.test.tsx
  src/components/Content.tsx
  src/components/SortableTodoItem.tsx
  src/components/TodoItem.tsx
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: improve dragging todo item ui
  src/components/SortableTodoItem.tsx
  src/components/TodoItem.tsx
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit

feat: implement todo items reordering logic
  src/GlobalState.tsx
  src/actions.ts
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit

fix: fix partially hidden focus outline on todos
  src/components/TodoItem.tsx
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@f93975e23b4794169e9d3af8ac7e1cd037de5096 🚀
  assets/index.83a22157.js
  assets/index.83a22157.js.map
  assets/index.e9b56f66.js
  assets/index.e9b56f66.js.map
  assets/vendor.e0b3c693.js
  assets/vendor.e0b3c693.js.map
  assets/vendor.e33d77ab.js
  assets/vendor.e33d77ab.js.map
  index.html
Due: eslint --fix

docs: update readme
  README.md
Due: prettier --write

chore: upgrade to react 18
  package-lock.json
  package.json
  src/main.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@ef99351c44cdbcc0152b88b059533a7afa9e96b0 🚀
  assets/index.032fb68f.js
  assets/index.032fb68f.js.map
  assets/index.e9b56f66.js.map
  assets/vendor.e0b3c693.js
  assets/vendor.e0b3c693.js.map
  assets/vendor.fc53a0b7.js
  assets/vendor.fc53a0b7.js.map
  index.html
Due: eslint --fix

fix: reword the drag n drop hint
  src/App.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@de7d7660c954a41a6166ccadab7ed4f67ce9f94f 🚀
  assets/index.032fb68f.js
  assets/index.032fb68f.js.map
  assets/index.9be66c6a.js
  assets/index.9be66c6a.js.map
  assets/vendor.fc53a0b7.js
  assets/vendor.fc53a0b7.js.map
  index.html
Due: eslint --fix

fix: typo in the dnd hint
  src/App.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@974a425b3830911e068081d724ab4f109c6a194d 🚀
  assets/index.4373b194.js
  assets/index.4373b194.js.map
  assets/index.9be66c6a.js.map
  index.html
Due: eslint --fix

chore: migrate to user-event 14
  jest.config.js
  src/__tests__/main.test.tsx
  src/main.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@29edde2e7b70224c58bacdc10a57547098f51e9c 🚀
  assets/index.4373b194.js.map
Due: none

chore: correct types
  src/GlobalState.tsx
  src/main.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@aef44b525c02b67bd018d67974968c6e65a5a46a 🚀
  assets/index.4373b194.js.map
Due: none

Deploying to gh-pages from @ alex-kim-dev/todo-app@540c71197c86501f99cd0c62c73074584d0b7ee9 🚀
  assets/index.2ce5bfbe.js
  assets/index.2ce5bfbe.js.map
  assets/index.4373b194.js
  assets/index.4373b194.js.map
  index.html
Due: eslint --fix

chore: fix missing jest 28 dependency
  package-lock.json
  package.json
Due: prettier --write

chore: fix jest exiting with an error if no tests found
  .lintstagedrc.yml
Due: prettier --write

chore: add workaround for wrong nanoid resolution by jest
  jest.config.js
Due: eslint --fix

chore: update @dnd-kit/sortable
  package-lock.json
  package.json
Due: prettier --write

chore: fix type errors after updating dnd-kit
  src/components/TodoList.tsx
Due: eslint --fix, tsc-files --noEmit

Deploying to gh-pages from @ alex-kim-dev/todo-app@a67f32e72ce3c09a0a81999f231d30cc194a7114 🚀
  assets/index.2ce5bfbe.js
  assets/index.2ce5bfbe.js.map
  assets/index.e7aa719f.js
  assets/index.e7aa719f.js.map
  index.html
Due: eslint --fix

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore: config renovate
  renovate.json
Due: prettier --write

chore: fix renovate schedule
  renovate.json
Due: prettier --write

chore: change depfu badge to renovate
  README.md
Due: prettier --write

chore: config renovate to group gh actions updates
  renovate.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/todo-app@704095e5674b9fc8b2ed34c26fae07ed7400fe34 🚀
  assets/index.dbc56b65.js
  assets/index.dbc56b65.js.map
  assets/index.e7aa719f.js
  assets/index.e7aa719f.js.map
  index.html
Due: eslint --fix

Deploying to gh-pages from @ alex-kim-dev/todo-app@d65a62eea8fead391b3608362fdeae0290ca657d 🚀
  assets/index.d356f017.js
  assets/index.d356f017.js.map
  assets/index.dbc56b65.js
  assets/index.dbc56b65.js.map
  index.html
Due: eslint --fix

Deploying to gh-pages from @ alex-kim-dev/todo-app@e679a4549dbc819ce95ce24ca9e645cc7c1554e8 🚀
  assets/index.03261e77.js
  assets/index.03261e77.js.map
  assets/index.d356f017.js.map
  index.html
Due: eslint --fix

chore: fix renovate config
  renovate.json
Due: prettier --write

chore: add eslint-prettier, testing-library update groups to renovate
  renovate.json
Due: prettier --write

chore: use existing renovate package presets for linters & tests
  renovate.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{j,t}s{,x}
  tsc-files --noEmit: any of: *.ts{,x}
  prettier --write: any of: *.{json,yml,md}
